.about-me-container {
  width: 100%;
  height: 100%;
  background: whitesmoke;
  text-align: center;
}

.about-me {
  position: relative;
  top: 50px;
  padding: 0 9em;
}

.about-me .title {
  display: block;
  position: relative;
  color: rgb(112, 112, 112);
  font-size: 1.6em;
  text-transform: uppercase;
}

.about-me .title:before,
.about-me .title:after {
  content: "";
  display: block;
  position: absolute;
  top: 50%;
  width: 35%;
  border-top: solid 2px;
}

.about-me .title:before {
  left: 0;
}

.about-me .title:after {
  right: 0;
}

.about-me .title:before,
.about-me .title:after {
  border-top-color: rgb(214, 210, 210);
}

.about-me .info {
  width: 100%;
  margin: 3em auto;
  display: flex;
}

.about-me .p-wrap {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 60%;
}

.about-me .img-wrap {
  width: 100%;
  height: 100%;
}

.about-me img {
  width: 25%;
  height: 25%;
  border-radius: 100%;
  margin: 0 auto 2em;
}

.about-me p {
  font-size: 1.2em;
  color: rgb(112, 112, 112);
  letter-spacing: 1px;
  line-height: 1.3;
  max-width: 90%;
  margin-bottom: 1em;
}

.about-me a {
  color: rgb(151, 208, 255);
  border-bottom: 1px dotted rgb(151, 208, 255);
}

.about-me a:hover {
  color: rgb(181, 217, 247);
}