/***************** general styles ***************/

body {
  margin: 0;
  font-size: 16px;
  font-family: "Raleway", sans;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

ul {
  list-style-type: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

a {
  text-decoration: none;
  color: rgb(3, 3, 3);
}

/***************** particle.js ***************/
canvas {
  display: block;
  vertical-align: bottom;
}

/* -- particles.js container -- */
#particles-js {
  position: fixed;
  width: 100%;
  height: 100%;
  background-color: #1c1e26;
  background-image: url("");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50% 50%;
  z-index: -1;
}

/***************** header ***************/

/* .background {
  background-image: url("../images/background.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  position: fixed;
  top: 0;
  z-index: -1;
  width: 100%;
  height: 100%;
} */

.heading-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}

h1 {
  color: white;
  position: relative;
  top: 350px;
  letter-spacing: 3px;
}

.title-color {
  color: #c83c24;
}

/***************** nav ***************/

nav {
  background-color: #161a22;
  width: 100%;
  height: 60px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  position: relative;
  top: 788px;
  border-bottom: 2px solid #c83c24;
}

nav li {
  margin: 0 2em;
  padding: 1.45em;
}

nav a {
  font-size: 1em;
  color: white;
  text-transform: uppercase;
}

.fixed {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 10;
}

.active {
  color: #ff4625;
}

/***************** main ***************/

main {
  background-color: rgba(252, 252, 252, 0.041);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  position: relative;
  top: 788px;
}

section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  /* width: 95%;
  margin: 0 auto; */
}

.alt-color {
  background-color: #ffffff;
}

/***************** main - projects***************/

.projects {
  height: 600px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.projects h2 {
  margin-top: 2em;
  font-size: 2em;
}

/* .projects .border {
  margin-top: -0.8em;
  width: 5%;
  border-bottom: 2.5px solid black;
} */

/* .project-container {
} */

/***************** main - skills***************/

.skills {
  height: 500px;
  background-color: #bbbbbb;
}

.skills h2 {
  color: black;
}

/***************** main - about***************/

.about {
  height: 500px;
}

/***************** main - divide***************/

.divide {
  height: 100px;
}

/***************** main - contact ***************/

.contact {
  height: 400px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  background-color: #161a22;
}

.contact h2 {
  font-size: 2em;
  color: white;
  letter-spacing: 0.1em;
}

.contact .border {
  margin-top: -0.8em;
  width: 5%;
  border-bottom: 2.5px solid white;
}

.contact p {
  font-size: 1.5em;
  color: #ff4625;
}

.contact a {
  font-style: italic;
  color: white;
}

/***************** footer ***************/

footer {
  /* background-color: rgba(252, 252, 252, 0.041); */
  width: 100%;
  height: 260px;
  position: relative;
  top: 850px;
  margin-top: -5em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}

footer p {
  color: white;
  margin-top: -0.5em;
  letter-spacing: 0.1em;
}

p i {
  color: white;
  margin-bottom: -1em;
}

footer ul {
  margin-left: -1em;
}

footer li {
  padding: 1em;
}

a i {
  color: white;
}

/***************** hover effects ***************/
nav a:hover {
  color: #ff4625;
}

.contact a:hover {
  border-bottom: 1.5px solid white;
}

footer i:hover {
  color: #ff4625;
}
