/***************** general styles ***************/

body {
  margin: 0;
  font-size: 16px;
  font-family: "Raleway", sans;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

ul {
  list-style-type: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

a {
  text-decoration: none;
  color: rgb(3, 3, 3);
}

/***************** particle.js ***************/
canvas {
  display: block;
  vertical-align: bottom;
}

/* -- particles.js container -- */
#particles-js {
  position: fixed;
  width: 100%;
  height: 100%;
  background-color: #1c1e26;
  background-image: url("");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50% 50%;
  z-index: -1;
}

/***************** header ***************/

.heading-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}

h1 {
  color: white;
  position: relative;
  top: 350px;
  letter-spacing: 3px;
}

.title-color {
  color: #c83c24;
}

/***************** nav ***************/

nav {
  background-color: #161a22;
  width: 100%;
  height: 60px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  position: relative;
  top: 788px;
  border-bottom: 2px solid #c83c24;
}

nav li {
  margin: 0 2em;
  padding: 1.45em;
}

nav a {
  font-size: 1em;
  color: white;
  text-transform: uppercase;
}

.fixed {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 10;
}

.active {
  color: #ff4625;
}

/***************** main ***************/

main {
  background-color: rgba(252, 252, 252, 0.041);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  position: relative;
  top: 788px;
}

section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  /* width: 95%;
  margin: 0 auto; */
}

.alt-color {
  background-color: #ffffff;
}

/***************** main - projects***************/

.projects {
  height: 600px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.projects h2 {
  margin-top: 2em;
  font-size: 2em;
}

/* .projects .border {
  margin-top: -0.8em;
  width: 5%;
  border-bottom: 2.5px solid black;
} */

/* .project-container {
} */

/***************** main - skills***************/

.skills {
  height: 500px;
  background-color: #bbbbbb;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.skills h2 {
  color: black;
  font-size: 2em;
  text-align: center;
  position: relative;
  top: -30px;
}

.skills .border {
  position: relative;
  top: -45px;
  width: 10%;
  border-bottom: 2.5px solid black;
}

.skill-flex {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  flex-direction: row;
}

#skillbar-wrap {
  margin: 0 auto;
  padding: 0px;
  text-align: center;
  width: 650px;
}

.skill-name {
  width: 70px;
  height: 30px;
  line-height: 40px;
  font-weight: bold;
  font-size: 13px;
  color: white;
  clear: both;
  float: left;
  border-radius: 3px 0px 0px 3px;
}

#skill {
  background-color: #161a22;
}
/* 
#skill-css {
  background-color: #5858fa;
}

#skill-js {
  background-color: #04b404;
}

#skill-react {
  background-color: #04b404;
}

#skill-node {
  background-color: #04b404;
}

#skill-python {
  background-color: #04b404;
} */

.skillbar-wrapper {
  float: left;
  position: relative;
  display: block;
  margin-bottom: 15px;
  width: 500px;
  background-color: #e6e6e6;
  height: 30px;
  border-radius: 0px 3px 3px 0px;
}

.skillbar-bar {
  height: 30px;
  width: 0px;
  border-radius: 0px 3px 3px 0px;
}

#skillbar-html,
#skillbar-css,
#skillbar-js,
#skillbar-react,
#skillbar-node,
#skillbar-python {
  background-color: #ff4625;
}

/* #skillbar-css {
  background-color: #8181f7;
}

#skillbar-js {
  background-color: #01df01;
}

#skillbar-react {
  background-color: #01df01;
}

#skillbar-node {
  background-color: #01df01;
}

#skillbar-python {
  background-color: #01df01;
} */

.skill-bar-percent {
  position: absolute;
  right: 10px;
  top: 0;
  font-size: 12px;
  height: 30px;
  line-height: 35px;
  color: black;
}

/***************** main - about***************/

.about {
  height: 500px;
}

.about h2 {
}

/***************** main - divide***************/

.divide {
  height: 100px;
}

/***************** main - contact ***************/

.contact {
  height: 400px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  background-color: #161a22;
}

.contact h2 {
  font-size: 2em;
  color: white;
  letter-spacing: 0.1em;
}

.contact .border {
  margin-top: -0.8em;
  margin-bottom: 1em;
  width: 10%;
  border-bottom: 2.5px solid white;
}

.contact p {
  font-size: 1.5em;
  color: #ff4625;
}

.contact a {
  font-style: italic;
  color: white;
}

.contact p a {
  border-bottom: 1px solid white;
}

.contact ul {
  margin-left: -1em;
}

.contact li {
  padding: 1em;
}

a i {
  color: white;
}

/***************** footer ***************/

footer {
  /* background-color: rgba(252, 252, 252, 0.041); */
  width: 100%;
  height: 260px;
  position: relative;
  top: 850px;
  margin-top: -5em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}

footer p {
  color: white;
  padding: 1em;
  letter-spacing: 0.1em;
}

p i {
  color: white;
  margin-bottom: -1em;
}

/***************** hover effects ***************/
nav a:hover,
footer i:hover,
.contact i:hover {
  color: #ff4625;
}
