.header-wrap {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.intro {
  text-align: left;
	display: flex;
	margin: 0 1.5em;
  -webkit-box-align: center;
  -ms-flex-align: center;
  justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  transition: opacity 1s ease, transform 1s ease;
  min-height: 100vh;
}

.main-title {
  color: white;
  font-size: 3.3em;
  letter-spacing: 3px;
  margin-left: .3rem;
}

.second-title {
  color: white;
  font-size: 2em;
  letter-spacing: 3px;
}

.header-wrap header {
  margin-top: -17rem;
}

.title-link {
  color: white;
  pointer-events: auto;
  border-style: solid;
  border-width: 5px !important;
  font-family: "Source Sans Pro", sans-serif;
  font-size: 2em;
  font-weight: 900;
  letter-spacing: 0.075em;
  line-height: 1;
  padding: 1rem 1.75rem;
  text-transform: uppercase;
  transform: translateY(0);
  transition: border-color 0.1s ease-in-out, color 0.1s ease-in-out,
    opacity 0.5s ease, transform 0.5s ease, visibility 0.5s; 
}

.title-link:hover {
  color: rgb(151, 208, 255);
}

.hidden {
	visibility: hidden;
}

/*Vertical Sliding*/
.slidingVertical{
	display: inline;
	text-indent: 8px;
}
.slidingVertical span{
	animation: topToBottom 17s linear infinite 0s;
	-ms-animation: topToBottom 17s linear infinite 0s;
	-webkit-animation: topToBottom 17s linear infinite 0s;
	color: white;
	opacity: 0;
	overflow: hidden;
	position: absolute;
}
.slidingVertical span:nth-child(2){
	animation-delay: 3.5s;
	-ms-animation-delay: 3.5s;
	-webkit-animation-delay: 3.5s;
}
.slidingVertical span:nth-child(3){
	animation-delay: 7s;
	-ms-animation-delay: 7s;
	-webkit-animation-delay: 7s;
}
.slidingVertical span:nth-child(4){
	animation-delay: 10.5s;
	-ms-animation-delay: 105s;
	-webkit-animation-delay: 10s;
}
.slidingVertical span:nth-child(5){
	animation-delay: 13.5s;
	-ms-animation-delay: 13.5s;
	-webkit-animation-delay: 13.5s;
}

/* topToBottom Animation*/
@-moz-keyframes topToBottom{
	0% { opacity: 0; }
	5% { opacity: 0; -moz-transform: translateY(-50px); }
	10% { opacity: 1; -moz-transform: translateY(0px); }
	25% { opacity: 1; -moz-transform: translateY(0px); }
	30% { opacity: 0; -moz-transform: translateY(50px); }
	80% { opacity: 0; }
	100% { opacity: 0; }
}
@-webkit-keyframes topToBottom{
	0% { opacity: 0; }
	5% { opacity: 0; -webkit-transform: translateY(-50px); }
	10% { opacity: 1; -webkit-transform: translateY(0px); }
	25% { opacity: 1; -webkit-transform: translateY(0px); }
	30% { opacity: 0; -webkit-transform: translateY(50px); }
	80% { opacity: 0; }
	100% { opacity: 0; }
}
@-ms-keyframes topToBottom{
	0% { opacity: 0; }
	5% { opacity: 0; -ms-transform: translateY(-50px); }
	10% { opacity: 1; -ms-transform: translateY(0px); }
	25% { opacity: 1; -ms-transform: translateY(0px); }
	30% { opacity: 0; -ms-transform: translateY(50px); }
	80% { opacity: 0; }
	100% { opacity: 0; }
}

/* Fades */

.fadeinDown {
  animation: fadeInDown 1000ms ease-in-out;
}

@keyframes fadeInDown {
  0% {
    opacity: 0;
    transform: translateY(-50px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

.fadeoutDown {
  animation: fadeoutDown 1000ms ease-in-out;
}

@keyframes fadeoutDown {
  0% {
    opacity: 1;
    transform: translateY(0);
  }
  100% {
    opacity: 0;
    transform: translateY(+50px);
  }
}

.fadeinUp {
  animation: fadeInUp 1000ms ease-in-out;
}

@keyframes fadeInUp {
  0% {
    opacity: 0;
    transform: translateY(50px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

.fadeoutUp {
  animation: fadeoutUp 1000ms ease-in-out;
}

@keyframes fadeoutUp {
  0% {
    opacity: 1;
    transform: translateY(0);
  }
  100% {
    opacity: 0;
    transform: translateY(-50px);
  }
}