.contact-container {
  width: 100%;
  height: 1000px;
  background: white;
  text-align: center;
}

.home-link {
  color: rgb(151, 208, 255);
  border-bottom: 1px dotted rgb(151, 208, 255);
}

.home-link:hover {
  color: rgb(181, 217, 247);
}