.header-wrap {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.intro {
  text-align: center;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  transition: opacity 1s ease, transform 1s ease;
  min-height: 100vh;
}

.main-title {
  color: white;
  font-size: 3em;
  letter-spacing: 3px;
}

.second-title {
  color: white;
  font-size: 2em;
  letter-spacing: 3px;
}

.header-wrap header {
  margin-top: -13rem;
}

.title-link {
  color: white;
  pointer-events: auto;
  border-style: solid;
  border-width: 5px !important;
  font-family: "Source Sans Pro", sans-serif;
  font-size: 2em;
  font-weight: 900;
  letter-spacing: 0.075em;
  line-height: 1;
  padding: 1rem 1.75rem;
  text-transform: uppercase;
  transform: translateY(0);
  transition: border-color 0.1s ease-in-out, color 0.1s ease-in-out,
    opacity 0.5s ease, transform 0.5s ease, visibility 0.5s;
  /* visibility: hidden;   */
}

.title-link:hover {
  color: rgb(151, 208, 255);
}

/* Push effect */
.pushEffect{
	display: inline;
	text-indent: 8px;
}
.pushEffect span{
	animation: push 17.5s linear infinite 0s;
	-ms-animation: push 18s linear infinite 0s;
	-webkit-animation: push 18s linear infinite 0s;
	color: white;
	opacity: 0;
	overflow: hidden;
	position: absolute;
}
.pushEffect span:nth-child(2){
	animation-delay: 3.5s;
	-ms-animation-delay: 4s;
	-webkit-animation-delay: 4s;
}
.pushEffect span:nth-child(3){
	animation-delay: 7s;
	-ms-animation-delay: 7.5s;
	-webkit-animation-delay: 7.5s;
}
.pushEffect span:nth-child(4){
	animation-delay: 10.5s;
	-ms-animation-delay: 11s;
	-webkit-animation-delay: 11s;
}
.pushEffect span:nth-child(5){
	animation-delay: 14s;
	-ms-animation-delay: 14.5s;
	-webkit-animation-delay: 14.5s;
}


/*Push Effect Animation*/
@-moz-keyframes push{
	0% { opacity: 0; }
	5% { opacity: 0; -moz-transform: rotate(0deg) scale(2) skew(0deg) translate(0px); }
	10% { opacity: 1; -moz-transform: translateX(0px); }
	25% { opacity: 1; -moz-transform: translateX(0px); }
	30% { opacity: 0; -moz-transform: translateX(0px); }
	80% { opacity: 0; }
	100% { opacity: 0;}
}
@-webkit-keyframes push{
	0% { opacity: 0; }
	5% { opacity: 0; -webkit-transform:rotate(0deg) scale(2) skew(0deg) translate(0px);}
		10% { opacity: 1; -webkit-transform: translateX(0px); }
	25% { opacity: 1; -webkit-transform: translateX(0px); }
	30% { opacity: 0; -webkit-transform: translateX(0px); }
	80% { opacity: 0; }
	100% { opacity: 0; }
}
@-ms-keyframes push{
	0% { opacity: 0; }
	5% { opacity: 0; -ms-transform: rotate(0deg) scale(2) skew(0deg) translate(0px); }
	10% { opacity: 1; -ms-transform: translateX(0px); }
	25% { opacity: 1; -ms-transform: translateX(0px); }
	30% { opacity: 0; -ms-transform: translateX(0px); }
	80% { opacity: 0; }
	100% { opacity: 0; }
}