footer {
    height: 300px;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
}

footer p {
  color: rgb(165, 164, 164);
  padding: 1em;
  letter-spacing: 0.1em;
}

p i {
  color: rgb(9, 201, 226);
  margin-bottom: -1em;
}
