.main-nav {
  background-color: rgba(112, 112, 112, 0.603);
  width: 100%;
  height: 70px;
  display: flex;
  justify-content: space-between;
}

.links li {
  display: flex;
  align-items: center;
  height: 100%;
  padding: 0 2.5em;
}

.nav-item {
  font-size: 0.8em;
  letter-spacing: 3px;
  text-transform: uppercase;
  color: white;
  font-weight: 600;
}

.icons li {
  display: flex;
  align-items: center;
  height: 100%;
  padding: 0 1.3em;
  font-size: 1.3em;
}

.icons i {
    color: white;
}

.fixed {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 10;
}

.active-li {
  background-color: white;
}

.active-nav-item {
  color: rgb(151, 208, 255);
}

.links li:not(.active-li):hover  {
  background-color: rgba(151, 208, 255, 0.603);
}

.icons i:hover {
  color: rgb(151, 208, 255);
}
