/***************** general styles ***************/
.background {
  width: 100vw;
  height: 100vh;
  background: url("../images/ocean.jpg") no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-color: rgba(255, 255, 255, 0.1);
  background-blend-mode: lighten;
  filter: blur(1px);
  z-index: -1;
  position: fixed;
}

body {
  margin: 0;
  font-size: 16px;
  font-family: "Raleway", sans;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

ul {
  list-style-type: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

a {
  text-decoration: none;
  color: rgb(3, 3, 3);
}

/***************** particle.js ***************/
canvas {
  display: block;
}

/* -- particles.js container -- */
#particles-js {
  position: fixed;
  width: 100%;
  height: 100%;
  background-color: #1c1e26;
  background-image: url("");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50% 50%;
  z-index: -1;
}

/***************** header ***************/

.heading-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}

h1 {
  color: white;
  position: relative;
  top: 350px;
  letter-spacing: 3px;
}

.orange {
  color: #ff9c4b;
}

/***************** nav ***************/

.main-nav {
  background-color: #161a22;
  width: 100%;
  height: 60px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  position: absolute;
  top: 940px;
  z-index: 10;
  border-bottom: 2px solid #ff9c4b;
}

.main-nav li {
  margin: 0 2em;
  padding: 1.45em;
}

.main-nav a {
  font-size: 1em;
  color: white;
  text-transform: uppercase;
}

.fixed {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 10;
}

.active {
  color: #ff9c4b !important;
}

.mini-nav {
  display: none;
}

.hamburger {
  position: absolute;
  top: 40px;
  left: 40px;
  display: none;
}

.hamburger i {
  color: white;
}

/***************** main ***************/

main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  position: relative;
  top: 788px;
}

section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

/***************** main - projects ***************/

.projects {
  background-color: rgb(240, 240, 240);
  height: 700px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  margin-bottom: 5px;
}

.projects h2 {
  margin-top: 2em;
  font-size: 2em;
}

.projects .border {
  width: 7%;
  margin-top: -12px;
  margin-bottom: 8px;
  border-bottom: 2.5px solid black;
}

.project-container {
  width: 95%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.project {
  width: 31%;
  margin: 0 auto;
}

figure {
  text-align: center;
  height: 425px;
  background: rgb(58, 63, 90);
  padding-top: 0.5em;
  border-radius: 5%;
  -webkit-box-shadow: 0 8px 6px -6px black;
  box-shadow: 0 8px 6px -6px black;
  position: relative;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}

.project img {
  width: 90%;
  height: 90%;
  margin: 10px;
  opacity: 0.7;
  border-radius: 5%;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
  border-radius: 4px;
  -webkit-filter: brightness(120%);
  filter: brightness(120%);
}

.project h5 {
  font-size: 1.3em;
  padding-bottom: 0.5em;
}

.project p {
  font-size: 1.1em;
}

.project a {
  color: #ff9c4b;
}

.project h5,
.project p {
  color: white;
  position: relative;
  top: -300px;
  letter-spacing: 1px;
}

.blurred-bg :not(img) {
  z-index: 1;
  width: 90%;
  margin: 0 auto;
  text-align: center;
  opacity: 0;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}

/***************** main - skills ***************/

.skills {
  height: 600px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin-bottom: 5px;
}

.skills h2 {
  color: white;
  font-size: 2em;
  text-align: center;
  position: relative;
  top: 10px;
}

.skills .border {
  position: relative;
  top: -5px;
  width: 6%;
  border-bottom: 2.5px solid white;
}

.skill-flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}

.app-skills li {
  margin: 1em;
  font-size: 1.5em;
  color: white;
}

.app-skills i {
  padding: 0.5em;
  color: #ff9c4b;
}

#skillbar-wrap {
  display: block;
  margin: 0 auto;
  padding: 0px;
  text-align: center;
  width: 650px;
}

.skill-name {
  width: 85px;
  height: 30px;
  line-height: 40px;
  font-weight: 600;
  font-style: italic;
  font-size: 1em;
  color: black;
  clear: both;
  float: left;
  border-radius: 3px 0px 0px 3px;
}

#skill {
  background-color: white;
}

.skillbar-wrapper {
  float: left;
  position: relative;
  display: block;
  margin-bottom: 15px;
  width: 550px;
  background-color: #e6e6e6;
  height: 30px;
  border-radius: 0px 3px 3px 0px;
}

.skillbar-bar {
  height: 30px;
  width: 0px;
  border-radius: 0px 3px 3px 0px;
}

#skillbar-html,
#skillbar-css,
#skillbar-js,
#skillbar-react,
#skillbar-node,
#skillbar-python {
  background-color: #ff9c4b;
}

.skill-bar-percent {
  position: absolute;
  right: 10px;
  top: 0;
  font-size: 12px;
  height: 30px;
  line-height: 35px;
  color: black;
}

/***************** main - about ***************/

.about {
  background-color: rgb(240, 240, 240);
  height: 500px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  margin-bottom: 5px;
}

.about .border {
  position: relative;
  top: -15px;
  width: 5%;
  border-bottom: 2.5px solid black;
}

.about h2 {
  font-size: 2em;
  margin-top: -120px;
}

.about p {
  width: 35%;
  margin: 0 auto;
}

/***************** main - contact ***************/

.contact {
  height: 400px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.contact h2 {
  font-size: 2em;
  color: white;
  letter-spacing: 0.1em;
}

.contact .border {
  margin-top: -0.8em;
  margin-bottom: 1em;
  width: 12%;
  border-bottom: 2.5px solid white;
}

.contact p {
  font-size: 1.5em;
  color: #ff9c4b;
}

.contact a {
  font-style: italic;
  color: white;
}

.contact p a {
  text-decoration: underline;
}

.contact ul {
  margin-left: -1em;
}

.contact li {
  padding: 1em;
}

a i {
  color: white;
}

/***************** footer ***************/

footer {
  width: 100%;
  height: 260px;
  position: relative;
  top: 850px;
  margin-top: -5em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}

footer p {
  color: white;
  padding: 1em;
  letter-spacing: 0.1em;
}

p i {
  color: white;
  margin-bottom: -1em;
}

/***************** hover effects ***************/

.main-nav a:hover,
footer i:hover,
.contact a:hover,
.contact i:hover {
  color: #ff9c4b;
}

#projects a:hover {
  text-decoration: underline;
}

.blurred-bg:hover img {
  -webkit-filter: blur(2px) brightness(60%);
  filter: blur(2px) brightness(60%);
  -webkit-box-shadow: 0 0 16px cyan;
  box-shadow: 0 0 16px cyan;
}

.blurred-bg:hover :not(img) {
  opacity: 1;
}

/***************** keyframes and animations ***************/

.fadeinDown {
  -webkit-animation: fadeInDown 2000ms ease-in-out;
  animation: fadeInDown 2000ms ease-in-out;
}

@-webkit-keyframes fadeInDown {
  0% {
    opacity: 0;
    -webkit-transform: translateY(-40px);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateY(0);
  }
}

@keyframes fadeInDown {
  0% {
    opacity: 0;
    -webkit-transform: translateY(-40px);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateY(0);
  }
}

.fadeinUp {
  -webkit-animation: fadeInUp 1500ms ease-in-out;
  animation: fadeInUp 1500ms ease-in-out;
}

@-webkit-keyframes fadeInUp {
  0% {
    opacity: 0;
    -webkit-transform: translateY(40px);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateY(0);
  }
}

@keyframes fadeInUp {
  0% {
    opacity: 0;
    -webkit-transform: translateY(40px);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateY(0);
  }
}

.fadeInLeft {
  -webkit-animation: fadeInLeft 1500ms ease-in-out;
  animation: fadeInLeft 1500ms ease-in-out;
}

@-webkit-keyframes fadeInLeft {
  0% {
    opacity: 0;
    -webkit-transform: translateX(80px);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateY(0);
  }
}

@keyframes fadeInLeft {
  0% {
    opacity: 0;
    -webkit-transform: translateX(80px);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateY(0);
  }
}

.fadeInRight {
  -webkit-animation: fadeInRight 1000ms ease-in-out;
  animation: fadeInRight 1000ms ease-in-out;
}

@-webkit-keyframes fadeInRight {
  0% {
    opacity: 0;
    -webkit-transform: translateX(-80px);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateY(0);
  }
}

@keyframes fadeInRight {
  0% {
    opacity: 0;
    -webkit-transform: translateX(-80px);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateY(0);
  }
}

/***************** Media Queries ***************/

@media only screen and (max-width: 1399px) {
  .projects {
    height: 1100px;
  }

  .project-container {
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
  }

  .project {
    width: 45%;
  }

  .app-skills li {
    font-size: 1.3em;
  }
}

@media only screen and (max-width: 1186px) {
  .projects {
    height: 1400px;
  }

  .project {
    width: 52%;
  }

  figure {
    height: 375px;
  }

  .app-skills li {
    font-size: 1em;
  }
}

@media only screen and (max-width: 840px) {
  .about h2 {
    margin-top: -40px;
  }

  .contact p {
    width: 75%;
    margin: 0 auto;
    line-height: 1.5;
  }

  .contact li {
    margin: 0 auto;
    padding: 40px;
  }
}

@media only screen and (max-width: 757px) {
  body {
    font-size: 13px;
  }

  h1 {
    font-size: 2em;
    width: 85%;
    text-align: center;
    margin: 0 auto;
    line-height: 1.6;
  }

  #navbar {
    display: none;
  }

  .hamburger {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }

  .show {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    position: relative;
  }

  .mini-nav ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    position: absolute;
    width: 300px;
    margin: 0 auto;
  }

  .mini-nav li {
    width: 100%;
    height: 50px;
    text-align: center;
    background: rgb(58, 63, 90);
    padding-top: 30px;
    border: 2px solid white;
  }
  .mini-nav a {
    color: white;
    font-size: 1.6em;
  }

  .skills {
    height: 730px;
  }

  .app-skills ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
  }

  .app-skills li {
    font-size: 1.4em;
    margin: 10px;
  }

  #skillbar-wrap {
    width: 100%;
  }

  .skill-name {
    width: 50px;
    font-size: 0.7em;
  }

  .skillbar-wrapper {
    width: 500px;
  }

  .about {
    height: 630px;
  }

  .about h2 {
    margin-top: -20px;
  }

  .about-me {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    text-align: center;
  }

  .about p {
    width: 80%;
    font-size: 1.1em;
    letter-spacing: 1px;
    margin: 10px;
  }

  .contact p {
    width: 65%;
    margin: 0 auto;
    line-height: 1.5;
  }

  .contact li {
    margin: 0 auto;
    padding: 40px;
  }
}

@media only screen and (max-width: 757px) {
  figure {
    width: 100%;
    margin: 10px auto;
  }
}

@media only screen and (max-width: 557px) {
  .projects {
    height: 1100px;
  }

  figure {
    height: 300px;
  }

  .project p,
  .project h5 {
    top: -220px;
  }

  .skill-name {
    width: 45px;
    font-size: 0.7em;
  }

  .skillbar-wrapper {
    width: 300px;
  }

  .about {
    height: 700px;
  }

  .about h2 {
    margin-top: 50px;
  }
}
